APP_NAME = "MHTECH Consulting"
APP_EMAIL = contact@mhtechconsulting.com

SMTP_HOST_NAME = smtp.hostinger.com
SMTP_PASSWORD = Romaric1301@
ENCRYPTION_TYPE = ssl
SMTP_PORT = 465

ADMIN_NAME = "MHTECH Consulting"
ADMIN_EMAIL = contact@mhtechconsulting.com

# =====================================================
# Configuration production Hostinger
# =====================================================
DB_HOST = localhost
DB_NAME = u358384692_mhtech_db
DB_USER = u358384692_mhtech_user
DB_PASSWORD = Romaric1301@
